{% render 'views/head.liquid', title: 'Triple programma' %}
<header>
    <a href="">TRIPLE</a>
</header>

<main>
   <nav>
        <a href="/maandag">MA</a>
        <a href="/dinsdag">DI</a>
        <a href="/woensdag">WO</a>
        <a href="/donderdag">DO</a>
        <a href="/vrijdag">VR</a>
        <a href="/zaterdag">ZA</a>
    </nav>

    <h1>Programma radiostation</h1>
    <form action="">
        <label for="radio-select">Kies een radiostation</label>
        <select name="radiostations" id="select-radiostation">
            <option value="/slam">Slam FM</option>
            <option value="/veronica">Radio Veronica</option>
            <option value="/100%nl">100% NL</option>
            <option value="/sublime">Sublime</option>
            <option value="/sunlight">Sunlight</option>
        </select>
    </form>

    {% for radio in radios %}
        <section>
                <div>{{ radios.body }}</div>
        </section>
    {% endfor %}

    {% for radio in radios %}
        <section>
            <article>
                <h3>{{ radios.name }}</h3>
                <a href=""><img src="https://fdnd-agency.directus.app/assets/{{radios.logo}}" alt=""></a>
            </article>
        </section>
    {% endfor %}
</main>
{% render 'views/foot.liquid', triple: triple %}