{% render 'views/head.liquid', title: 'Triple programma' %}
<header>
    <a href="">TRIPLE</a>
</header>

<main>
   <nav> {% comment %} Filter op datum{% endcomment %}
        <a href="/maandag">MA</a>
        <a href="/dinsdag">DI</a>
        <a href="/woensdag">WO</a>
        <a href="/donderdag">DO</a>
        <a href="/vrijdag">VR</a>
        <a href="/zaterdag">ZA</a>
    </nav>

    <h1>Programma radiostation</h1>
    <form action="/submit"> {% comment %} Filter op specifieke radiostations {% endcomment %}
        <label for="select-radiostation">Kies een radiostation</label>
        <select name="radiostations" id="select-radiostation">
            <option value="/radiostations">RADIONSTATION</option>
            <option value="/slam">Slam FM</option>
            <option value="/veronica">Radio Veronica</option>
            <option value="/100%nl">100% NL</option>
            <option value="/sublime">Sublime</option>
            <option value="/sunlight">Sunlight</option>
        </select>
    </form>

    {% for radio in radios %} 
            <article> {% comment %} programma inhoud radiostations {% endcomment %}
                <h2>{{ radio.name }}</h2>
                van {{ radio.from }} tot {{ radio.until }}
                <a href=""><img src="https://fdnd-agency.directus.app/assets/{{radio.logo}}" alt=""></a>
            </article>
    {% endfor %}
</main>
{% render 'views/foot.liquid', triple: triple %}