<header>
    <a href="">TRIPLE</a>
</header>

<main>
   <nav>
        <a href="/maandag"></a>
        <a href="/dinsdag"></a>
        <a href="/woensdag"></a>
        <a href="/donderdag"></a>
        <a href="/vrijdag"></a>
        <a href="/zaterdag"></a>
        <a href="/zondag"></a>
    </nav>
    
    <h1>Programma radiostation</h1>
    <form action="">
        <label for="filter">Selecteer een radiostation</label>
    </form>
    <section>
        <h2>11:00</h2>
        <article>
            <h3>{{mh_show.name}}</h3>
            <p>{{mh_show.date_created}}</p>
            <a href="">{{mh_show.logo}}</a>
        </article>
    </section>
</main>