@font-face {
    font-family: "Brutal Type";
    src: url('/docs/font/');
  }

body {
    /* COLOR */
    --primary-text-color: #1E1E1E;
    --secondary-text-color: #FFFFFF;
    --highlight-color: #FE0170;
    --primary-bg-color: #011564;
    --secondary-bg-color: #FFFFFF;
    --tertiary-bg-color: #EFEFEF;

    /* FONTS */
    --font-family: 'Brutal Type', sans-serif;

    --titel-size-l: 58px;
    --titel-size-m: 30px;
    --titel-size-s: 20px;

    --text-size-m: 20px;
    --text-size-s: 16px;
    --text-button: 16px;

    --font-weight-s: 400;
    --font-weight-m: 700;
    --font-weight-l: 900;

    --font-center: center;
    --font-left: left;

    /* PADDING */
    --padding-s: 8px;
    --padding-m: 22px;
    --padding-l: 32px;

    /* MARGIN */
    --margin-size-s: 8px;
    --margin-size-m: 22px;
    --margin-size-l: 32px;

    /* GAP */
    --gap-s: 8px;

    /* BORDER-RADIUS */
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 32px;

    /* CLICK */
    --pointer: pointer;

    /* SIZE */
    --width: 100vw;
    --height: 100vh;

    font-family: var(--font-family);
    text-align: var(--font-center);

    display: flex;
    flex-direction: column;
    margin: 0;
}

/* HEADER */
header {
    padding: var(--margin-size-l);
    background-color: var(--primary-bg-color);
    width: var(--width);
}

a {
    font-weight: var(--font-weight-l);
    font-size: var(--titel-size-m);
    text-decoration: none;
    color: var(--secondary-text-color);
    cursor: var(--pointer);
}

/* MAIN */
h1 {
    font-weight: var(--font-weight-l);
    font-size: var(--titel-size-m);
    color: var(--primary-text-color);
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin-size-s);
}

select {
    color: var(--secondary-text-color);
    background-color: var(--highlight-color);
    padding: var(--padding-s);
    border-radius: var(--border-radius-s);
    border: none;
    margin: var(--margin-size-s);
    font-weight: var(--font-weight-l);
    cursor: var(--pointer);
}

.radiostations {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    margin: var(--margin-size-m);
}

.day {
    display: grid;
    grid-template-columns: 5em 14em;
    grid-template-rows: 1.8em 1.8em;
    grid-template-areas: 
    "logo shows" 
    "logo time";

    max-width: 18rem;
    margin: auto;
    background-color: var(--tertiary-bg-color);
    padding: var(--padding-s);
    border-radius: var(--border-radius-m);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.266);
    text-align: var(--font-left);
}

.input-logo {
    grid-area: logo;
    width: 4rem;
}

.input-show {
    grid-area: shows;
    padding: var(--padding-s);
}

.input-time {
    grid-area: time;
    margin: 0;
    padding: var(--padding-s);
}

h2 {
    font-weight: var(--font-weight-l);
    font-size: var(--titel-size-s);
    margin: 0;
}

p {
    font-weight: var(--font-weight-s);
    font-size: var(--text-size-s);
}

nav {
    position: fixed;
    padding: var(--padding-s);
    bottom: 0;
    height: 5rem;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    width: var(--width);
}

.filter-date {
    font-size: var(--text-size-s);
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    width: 4rem;
    height: 3rem;
    border-radius: var(--border-radius-s);
}